@import "tailwindcss";

:root {
  --background: #014E56;
  --foreground: #ffffff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #014E56;
  --color-contrast: #F67E7E;
  --color-secondary-100: #79C8C7;
  --color-secondary-200: #2C6269;
  --color-secondary-300: #004047;
  --color-secondary-400: #012F34;
  --color-secondary-500: #002529;

  --text-h1: 100px;
  --text-h1-S: 64px;
  --text-h2: 48px;
  --text-body1: 18px;
  --text-body2: 15px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-weight: 500;
}
